h1
{
	text-align: center;
	margin-top: 100px;
	font-size: 50px;
}

body 
{
	background-color: rgb(104,187,255);
}

#header
{
	height: 100px;
	margin-top: 5px;
}

#container
{
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	display: flex;
}

#left-box
{
	width: 250px;
	margin: 5px 5px 15px 5px;
	padding-top: 10px;
	display: flex; 
	background-color: rgb(9,30,45);
}

.flotte
{
	float: left;
	margin: 5px 5px;
}

p1
{
	color: white;
	font-size: 15px;
	overflow:auto;
}

span 
{
	font-size: 10px;
}

#right-box
{
	width: 65%;
	margin: 15px 0px 5px 5px;
	padding: 15px 0px 10px 10px;
	display: flex;
	flex-direction: column;
	/**background-color: white;**/
}

h2{
	text-align: center;
}

#experiences-box #studies-box
{
	background-color: white;
	margin: 15px 5px 15px 5px;
	padding: 10px 10px 10px 10px;
	flex-direction: column;
}

#experience1 #experience2 #study1 #study2
{
	margin: 15px 5px 15px 5px;
	padding: 5px;
}
